p{
	color:azure;
	font-family:sans-serif;
}

.text{
	color:azure;
	font-family:sans-serif;
}

body { 
	background-color:rgb(28, 28, 59);
} 

h1, h2, h3, h4, h5, h6 { 
	color:azure;
	font-family:sans-serif;
}

img {
	border-radius: 10px;
}

.images {
	border-radius: 15px;
	align-items:center;
}

.links {
	color:azure;
	font-family:sans-serif;
}

.links:hover {
	color:azure;
	font-family:sans-serif;
}

.links:visited {
	color:lightsalmon;
	font-family:sans-serif;
}

.menu {
	float:left;
	width:20%;
}

.menuitem {
	padding: 8px;
	margin-top: 7px;
	border-bottom: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
}

.main {
	float:right;
	width:79%;
	margin-left: 3px;
}

.lists {
	color: azure;
	border: 1px solid #f1f1f1;
	padding: 3px;
	width: 30%;
}

@media only screen and (max-width: 800px) {
	.menu, .main, .menuitem, .lists {
		width:100%
	}
}
