p{
	color:azure;
	font-family:sans-serif;
}

.text{
	color:azure;
	font-family:sans-serif;
}

body { 
	background-color:rgb(28, 28, 59);
} 

h1, h2, h3, h4, h5, h6 { 
	color:azure;
	font-family:sans-serif;
}

img {
	border-radius: 10px;
}

.images {
	border-radius: 15px;
	align-items:center;
}

.links {
	color:azure;
	font-family:sans-serif;
}

.links:hover {
	color:azure;
	font-family:sans-serif;
}

.links:visited {
	color:lightsalmon;
	font-family:sans-serif;
}

.hidden {
    display: none;
  }